.characters-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.characters-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 2rem;

}

.character-item {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.character-text span {
  display: flex;
  margin-bottom: 5px;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: -webkit-left;
}

.character-text {
  margin-top: 10px;
}

.character-image {
  width: 100%;
}

.character-image img {
  width: auto;
  height: 17rem;
  object-fit: contain;
  border-radius: 15rem;
}

.pagination {
  position: relative;
  display: flow;
}

#VerDesc {
  border-radius: 10px;
  display: center;
  color: white;
  background-color: #B8BCBF;
  margin-bottom: 12px;
  padding: 0px 15px 3px 15px;

}

.input-container {
  text-align: center;
}

.input-container label {
  text-align: center;
  font-style: oblique;
}

#houseSelect {
  font-size: large;
  margin: 30px 5px 30px 0px;
}

@media (max-width: 780px) {
  .characters-list {
    grid-template-columns: repeat(2, 1fr);
  }
}